# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml


node_modules
.venv
__pycache__/
*.pyc
.worktrees/
.nx/
.env
*.env

.gemini
todos
.idea/

.env.dev
.env.prod

GEMINI.local.md

# Data
apps/etl-service/data/
*.parquet
