# Database Configuration (Production)
DB_HOST=localhost            # The host of the production database
DB_PORT=5435                 # The port of the production database
DB_USER=your_prod_user       # The production database username
DB_PASSWORD=your_prod_pass   # The production database password
DB_NAME=postgres             # The database name

# EODHD API Configuration
EODHD_API_KEY=your_api_key   # Your EODHD API key

# Prefect Configuration
PREFECT_API_URL=http://127.0.0.1:4200/api       # API URL for the Prefect server
ENV_PREFIX=prd                                  # Prefix for deployments (e.g., prd)
