# Database Configuration (Development)
DB_HOST=localhost            # The host of the development database
DB_PORT=5434                 # The port of the development database
DB_USER=your_dev_user        # The development database username
DB_PASSWORD=your_dev_pass    # The development database password
DB_NAME=postgres             # The database name

# EODHD API Configuration
EODHD_API_KEY=your_api_key   # Your EODHD API key

# Prefect Configuration
PREFECT_API_URL=http://127.0.0.1:4200/api       # API URL for the Prefect server
ENV_PREFIX=dev                                  # Prefix for deployments (e.g., dev)
DATA_DIR=data/dev                               # Directory for Parquet files
